<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>filter.RoleFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/cartdetail</url-pattern>
        <url-pattern>/checkorder</url-pattern>
        <url-pattern>/changepassword</url-pattern>
        <url-pattern>/cart</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/managercategory</url-pattern>
        <url-pattern>/manager</url-pattern>
        <url-pattern>/add</url-pattern>
        <url-pattern>/delete</url-pattern>
        <url-pattern>/edit</url-pattern>
        <url-pattern>/loadproduct</url-pattern>
        <url-pattern>/addcategory</url-pattern>
        <url-pattern>/deletecategory</url-pattern>
        <url-pattern>/editcategory</url-pattern>
        <url-pattern>/loadcategory</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>controller.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerServlet</servlet-name>
        <servlet-class>controller.ManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>controller.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductServlet</servlet-name>
        <servlet-class>controller.LoadProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>controller.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyServlet</servlet-name>
        <servlet-class>controller.BuyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>controller.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesServlet</servlet-name>
        <servlet-class>controller.ProcesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckorderServlet</servlet-name>
        <servlet-class>controller.CheckorderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDetailServlet</servlet-name>
        <servlet-class>controller.CartDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangepasswordServlet</servlet-name>
        <servlet-class>controller.ChangepasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThongKeServlet</servlet-name>
        <servlet-class>controller.ThongKeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagercategoryServlet</servlet-name>
        <servlet-class>controller.ManagercategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditcategoryServlet</servlet-name>
        <servlet-class>controller.EditcategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCategoryServlet</servlet-name>
        <servlet-class>controller.LoadCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddcategoryServlet</servlet-name>
        <servlet-class>controller.AddcategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletecategoryServlet</servlet-name>
        <servlet-class>controller.DeletecategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerServlet</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductServlet</servlet-name>
        <url-pattern>/loadproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyServlet</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesServlet</servlet-name>
        <url-pattern>/proces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckorderServlet</servlet-name>
        <url-pattern>/checkorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDetailServlet</servlet-name>
        <url-pattern>/cartdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangepasswordServlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThongKeServlet</servlet-name>
        <url-pattern>/thongke</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagercategoryServlet</servlet-name>
        <url-pattern>/managercategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditcategoryServlet</servlet-name>
        <url-pattern>/editcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCategoryServlet</servlet-name>
        <url-pattern>/loadcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddcategoryServlet</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletecategoryServlet</servlet-name>
        <url-pattern>/deletecategory</url-pattern>
    </servlet-mapping>
</web-app>
